<!doctype html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Random Pokedex</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="./js/app.js" defer></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link href="./css/cssPokemon.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>



</head>


<body>
    <div id="app">

        <div class="container-fluid" align="center">
           
 
                  <div class="col-lg-11 col-sm-6 col-md-6" align="center">
            <img src="img/pokeballin-02.svg" width="15%"> 
            <h1>RANDOM POKEDEX</h1>
        </div>

        </div>
  
       

        <div class="container-fluid" align="center">
            <form>
                <input type="number" v-model="numberPokemons" style="text-align: center; size: 15%;"/>
                <button @click.prevent="getPokemon()">Enter</button>
            </form>
        </div>

        <div class="container-fluid" align="center">
            <div class="row" align-items-start>
                <div class="col-sm-3 col-md-2 col-lg-3" v-for="(pokemon, index) in pokemons" :key="index">
                    <div id="imagen"><img :src="pokemon.image" style="background-image:url(img/atraspokemon.svg); width: 30%; background-repeat: no-repeat;">
                        <h6>{{ pokemon.name }}</h6>
                        <p><b>id: </b>{{ pokemon.id }} </p>

                    </div>

                    <button class="btn btn-block" type="button" data-toggle="collapse" :data-target="'#evolutionStyle' + pokemon.id" aria-expanded="false" aria-controls="evolutionStyle" style="background-color: #D62E27;"> + </button>
                    <div class="collapse evolutionStyle" :id="'evolutionStyle' + pokemon.id">
                        <h2>Evolutions</h2>
                        <div v-for="(evolution, i) in pokemon.evolutions" :key="i">
                            <p><b> id: </b> {{ evolution.id }}</p>
                            <p><b>Name: </b> {{ evolution.name }} </p>
                        </div>

                        <div>
                            <h3><i>Types: </i></h3>
                            <div v-for="(type, i) in pokemon.types" :key="i"> <img :src="'./img/' + type + '.png'"> {{ type }} </div>

                            <h4><i>Height: </i></h4>
                            <p> {{ pokemon.height }} </p>

                            <h4><i>Weight: </i></h4>
                            <p> {{ pokemon.weight }} </p>

                            <h5><i>Base Experience: </i></h5>
                            <p> {{ pokemon.base_experience }}</p>

                            <h5><i>Description: </i></h5>
                            <p> {{ pokemon.description }} </p>


                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>



</body>

</html>
